<div class="right-info">
  Event Details:
  <%= event.name %><br>
  Location: <%= event.location.name %><br>
  From: <%= event.start_time %> Until: <%= event.end_time %>
  Description: <%= event.description %><br>

</div>
