<% if current_user.present? %>
  <li><%= link_to "Hello, #{current_user.name}!", user_path(current_user) %></li>
  <li><%= link_to 'New Event', new_event_path %></li>
  <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  <li><%= link_to 'Sign In', new_user_session_path %></li>
<% end %>

  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to 'Tags', tags_path %></li>
