<!DOCTYPE html>
<html>
<head>
  <title>WatDo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="<%= root_path %>"/>Wat Do?!</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
         <!--  nav here -->
         <%= render 'layouts/navigation' %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <header>
    <%= render 'layouts/messages' %>
  </header>


<%= yield %>

</body>
</html>
